@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
p {
    color: black;
}

nav {
    background-color: salmon;
    font-size: 1.2em;
    line-height: 3em;
    font-family: 'Indie Flower', cursive;
    margin-top: -8%;
    text-align: center;
}

nav a {
    padding: 1em .6em
}

a:hover {
    text-decoration: none;
}

nav li {
    display: inline-block;
}

.logo {
    background-color: white;
    width: 10%;
    position: relative;
    border-style: solid;
    margin-left: 3%;
}

a:hover {
    color: green;
}

header > img {
    background-color: transparent;
    position: relative;
}

nav ul {
    margin: 0;
}

#sec2 {
    background-color: beige;
}

#sec1 {
    background-color: greenyellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 0%;
    font-family: "Times New Roman", Times, serif;
    color: #6495ED;
}

p #sec_p {
    color: darkmagenta;
}

.content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

#bottomSec {
    text-align: left;
    height: 55px;
    margin-top: 20px;
    position: absolute;
}

#socialIcon {
    margin-top: 10px;
    margin-left: 724px;
}

.leftcol,
.rightcol {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}

#banner {
    width: 100%;
}

#sec1,
#sec2 {
    display: flex;
    flex-flow: row wrap;
}

img {
    max-width: 100%;
}